@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 98%;
    --background-end: 240 10% 95%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 262 84% 57%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 224 71% 4%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 262 84% 57%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 262 84% 57%;
    --radius: 0.5rem;
    --chart-1: 262 84% 57%;
    --chart-2: 262 74% 67%;
    --chart-3: 262 64% 77%;
    --chart-4: 262 54% 87%;
    --chart-5: 262 44% 97%;
  }

  .dark {
    --background: 262 84% 6%;
    --background-end: 262 84% 4%;
    --foreground: 0 0% 98%;
    --card: 262 84% 8% / 0.8;
    --card-foreground: 0 0% 98%;
    --popover: 262 84% 6%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 84% 57%;
    --primary-foreground: 0 0% 98%;
    --secondary: 262 20% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 262 20% 12%;
    --muted-foreground: 240 4% 65%;
    --accent: 262 84% 57%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 20% 12%;
    --input: 262 20% 12%;
    --ring: 262 84% 57%;
    --chart-1: 262 84% 57%;
    --chart-2: 262 74% 67%;
    --chart-3: 262 64% 77%;
    --chart-4: 262 54% 87%;
    --chart-5: 262 44% 97%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background-image: linear-gradient(to bottom right, hsl(var(--background)), hsl(var(--background-end)));
    @apply text-foreground;
    @apply transition-colors duration-300;
  }

  .prose {
    @apply transition-colors duration-300;
  }
}
