@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --background-end: 60 56% 96%;
    --foreground: 272 100% 15%;
    --card: 60 56% 96%;
    --card-foreground: 272 100% 15%;
    --popover: 60 56% 96%;
    --popover-foreground: 272 100% 15%;
    --primary: 272 100% 25%;
    --primary-foreground: 60 56% 96%;
    --secondary: 60 20% 85%;
    --secondary-foreground: 272 100% 25%;
    --muted: 60 20% 85%;
    --muted-foreground: 272 25% 45%;
    --accent: 30 61% 50%;
    --accent-foreground: 60 56% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 80%;
    --ring: 30 61% 50%;
    --radius: 0.5rem;
    --chart-1: 272 100% 25%;
    --chart-2: 30 61% 50%;
    --chart-3: 272 40% 55%;
    --chart-4: 30 70% 70%;
    --chart-5: 272 20% 65%;
  }

  .dark {
    --background: 272 30% 10%;
    --background-end: 272 30% 15%;
    --foreground: 60 56% 91%;
    --card: 272 30% 12%;
    --card-foreground: 60 56% 91%;
    --popover: 272 30% 12%;
    --popover-foreground: 60 56% 91%;
    --primary: 60 56% 91%;
    --primary-foreground: 272 100% 15%;
    --secondary: 272 30% 20%;
    --secondary-foreground: 60 56% 91%;
    --muted: 272 30% 20%;
    --muted-foreground: 60 25% 70%;
    --accent: 30 61% 50%;
    --accent-foreground: 60 56% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 272 30% 25%;
    --input: 272 30% 25%;
    --ring: 30 61% 50%;
    --chart-1: 60 56% 91%;
    --chart-2: 30 61% 50%;
    --chart-3: 60 50% 70%;
    --chart-4: 30 70% 60%;
    --chart-5: 60 30% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background-image: linear-gradient(to bottom right, hsl(var(--background)), hsl(var(--background-end)));
    @apply text-foreground;
    @apply transition-colors duration-300;
  }

  .prose {
    @apply transition-colors duration-300;
  }
}
